<div class ='container'>
	<h1>EDIT THIS SLIDESHOW!</h1>
	<div class='row'>
		<h4>Name</h4>
		<input id='name' type='text' class='form-control' placeholder='Name this slideshow' value='<%=@slideshow.name%>'>
	</div>
	<div class='row'>
		<h4>Interval (in seconds)</h4>
		<input id='interval' type='number' class='form-control' placeholder='Name this slideshow' value='<%=@slideshow.interval %>'>
	</div>
	<div class ='row' id='photoDiv'>
		<h2 class='text-center'>Touch a slide to either add or remove it from your slideshow!</h2>
		<div class = 'col-xs-12 well' id="inDiv">
			<div id='in' class='swipe'>
				<h2>In your slideshow</h2>
				<% @slideshow.pictures.each do |p| %>
					<img id = '<%= p.id %>'src="<%= p.avatar %>" class='img-rounded inShow' width='100px' height='100px'>
				<% end %>
			</div>
			<div id='out' class='swipe'>
				<h2>Not in your slideshow</h2>
				<% @pictures.each do |p| %>
					<img id='<%= p.id %>' src="<%= p.avatar %>" class='img-rounded outShow' width='100px' height='100px'>
				<% end %>
			</div>	
		</div> <!--col  12-->
	</div>
	<button id='update' class='btn btn-primary btn-lg btn-block' >Update slideshow!</button>
	<a class='btn btn-warning btn-lg btn-block' href="/master">Back</a>
</div>
<%= form_tag("/users/#{current_user.id}/slideshows/#{@slideshow.id}", :method => "patch", :id => 'updateForm') do %>	
<% end %>


