<div class='container' class='z'>
	<h1>Slideshows</h1>
	<% if flash[:notice] %>
		<p class='bg-info text-info'><%= flash[:notice] %></p>
	<% end %>
	<a class='btn btn-success' href="/slave/all">Play all slides</a>
	<% @slideshows.each do |s| %>
		<h2><%= s.name.capitalize %> (interval: <%= s.interval %> seconds) </h2>
		<a class='btn btn-primary' href="<%= edit_user_slideshow_path current_user, s.id %>">edit</a>
		<a class='btn btn-danger' data-method='delete' href="<%= user_slideshow_path current_user, s.id %>">delete</a>
		<a class='btn btn-success' href="<%= play_path s.id %>">Play</a>
		<% s.pictures.each do |p| %>
			<img src="<%= p.avatar %>" class='img-rounded' width='100px' height='100px'>
		<% end %>
	<hr>
	<% end %>
	<br>
</div>
<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
                <ul class="nav navbar-nav">
                    <li>
                    	<a href="<%= new_user_slideshow_path current_user %>">New Slideshow</a>
                    </li>
                    <li><a href="/master">Back</a></li>
                </ul>
            </div>
          	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
</footer>