<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
	<div class ='container'>
		<div class ='topbar'><h1>Make a new slideshow!</h1></div>
		<div class ='row'>
			<div class = 'col-xs-12'>
				<%= form_tag(user_slideshows_path current_user, method: "post") do %>
					<br>
					<%= label_tag "picture[name]", "name" %>
					<%= text_field_tag 'picture[name]' %>
					<br><br>
					<%= collection_check_boxes(:picture, :picture_ids, @pictures, :id, :avatar)  do |b| %>
					<div class="col-xs-6">
						<label for="<%= b.object %>" >
							<img src="<%= b.text %>" class='img-rounded' width='100px' height='100px'>
							<%= b.check_box %>
						</label>
					</div>
					<% end %>
					<%= submit_tag "Make Slideshow", :class => 'btn btn-primary btn-lg btn-block' %><br>
				<% end %>
			
			</div>
		</div>
		<a class='btn btn-warning btn-block btn-lg' href="<%= user_slideshows_path current_user %>"> Back</a>
	</div>

