<div class ='container'>
	<div class='topbar'><h1>Pictures</h1></div>
	<div>
		<div>
			<% if flash[:notice] %>
				<p class="bg-danger"><%= flash[:notice] %></p>
			<% end %>
			<% @pictures.each do |p| %>
				<div style='display: inline-block; vertical-align: top;'> 
					<img src=" <%= p.avatar%> " alt="picture here" width='150px' height='150px'>
						<br><%= p.name %> <%= link_to  'delete', user_picture_path(current_user, p), :method => :delete %>
				</div>
			<% end %>
		</div>
	</div>
	<br><br>
	<div class ='row'>
			<div class = 'col-xs-12'>
				<%= simple_form_for([current_user, @picture], :html => {:multipart => true, :class => 'form-horizontal'}, :defaults => {:input_html => {:class => 'form-control'} }) do |f| %>
					<div id="images">
						<span class="btn btn-info btn-block btn-file">
							<span class='file_desc'> Select your file!</span>
    						<%= file_field_tag "images[][avatar]" %>
						</span>
				     </div>
				     <br>
					<%= f.submit "Add to your collection!" , :class => 'btn btn-primary btn-block'%> <br>
				<%end%>
				<a class='btn btn-warning btn-block' href="/master">Back</a>
			</div>
	</div>
</div>

