<div id='nav'>
		<div class='user-top-logout'>
			<button id='trash' class='btn btn-primary'><span class='glyphicon glyphicon-trash'></span></button>
			<a href="<%= signout_path %>">logout</a>
		</div>
    <div id='message'>
        <h2 class='text-center'>Select photos to delete and press trashcan icon</h2>
    </div>
    <div id='labelWrap'>
        <label for='addPic'>
	        <div class='user-top-nav'>
	                Upload Photos
	        </div>
    	</label>
    </div>
</div>
<%= simple_form_for([current_user, @picture], :html => {:multipart => true, :class => 'form-horizontal'}) do |f| %>
    <input id='addPic' type='file' name="images[][avatar]" multiple style='display: none'>   
<%end%>
<div class ='container'>
	<div class='row'>
		<div class='col-md-6'>
			<h3 class style='margin-bottom: 15px;'>Here are your photos, <%= current_user.first_name %></h3>
		</div>
		<div class='col-md-6'>
			<button id='delete-btn' class ='btn btn-danger btn-lg' style='margin: 15px 0px 10px 0px; display: none'>delete pictures</button>
		</div>
	</div> <!--row -->
	<% if flash[:errors] %>
		<p class='bg-warning'><%= flash[:errors] %></p>
	<% end %>
	<% if flash[:message] %>
		<p class='bg-success'><%= flash[:message] %></p>
	<% end %>
	<div>
		<div>
			<% @pictures.each do |p| %>
				<div class='imgBox notMarked' id='<%= p.id %>'> 
					<img src=" <%= p.avatar%> " alt="picture here" class='img-rounded' width='100px' height='100px'>
						<!-- <br><%= p.name %>delete -->
						<!-- <input type='checkbox' class='delete-checkbox' value='<%= p.id %>'> -->
				</div>
			<% end %>
			<%= form_tag("/users/#{current_user.id}/pictures/destroy", method: "delete", :id => 'deletePicsForm') do %>
			<% end %>
		</div>
	</div>
	<br><br>
</div>

